<h2>Your Contracts</h2>
<div class="card-container">
    <table border="1" [cellSpacing]="5" [cellPadding]="5">
        <tr>
            <th>
                Contract Id
            </th>
            <th>
                From Currency
            </th>
            <th>
                To Currency
            </th>
            <th>
                Conversion Rate
            </th>
            <th>
                Initial Amount
            </th>
            <th>
                Final Amount
            </th>
            <th>
                Current Contract Status
            </th>
            <th>
                Action
            </th>
        </tr>
        <tr *ngFor="let item of contracts">
            <td>
                {{item.contractId}}
            </td>
            <td>
                {{item.fromCurrencyCode}}
            </td>
            <td>
                {{item.toCurrencyCode}}
            </td>
            <td>
                {{item.conversionRate}}
            </td>
            <td>
                {{item.initialAmount}}
            </td>
            <td>
                {{item.finalAmount}}
            </td>
            <td>
                {{item.contractStatus}}
            </td>
            <td style="width: 150px; text-align: center;">
                <button id="btnDelete" title="delete" (click)="deleteContractHandler(item)">Delete</button>
            </td>
        </tr>
    </table>
</div>